@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

body{
    font-family: 'Poopins', sans-serif;
    font-size: ;
    font-weight: 400;
    color: white;
    margin: 2px;
    background-image: url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

